#circle {
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

p a {
  color: #0a0a0b;
}

/*****************************CSS CLASSES START HERE********************************/

.button {
  background-color: #FFB300;
  border: none;
  border-radius: 50px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 2em;
  letter-spacing: 2px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 310px;
  height: 65px;
}

.button:hover {
  background-color: #FFFFFF;
  border: solid 4px;
  border-color: #FFB300;
  color: #FFB300;
  transition: ease-in .25s;
}

.inner-container {
  clear: both;
  max-width: 100%;
  word-wrap: break-word;
  min-width: 33%;
  padding: 1em;
  min-height: 90vh;
}

.logo {
  margin: auto;
  padding: 10px;
}

.navbar {
  background-color: rgba(45, 35, 46, .5);
  font-size: 1.25em;
  height: 110px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  list-style: none;
}

.navbar ul li a {
  display: inline-block;
  min-width: 10em;
}

.navbar ul {
  list-style-type: none;
}

.navbar li {
  display: inline;
}

.outer-container {
  display: block;
  text-align: center;
  max-width: 100%;
  min-height: 90vh;
}

.search-box {
  padding-top: 200px;
}

.text-box {
  border: none;
  border-radius: 5px;
  color: #95989A;
  font-size: 1.5em;
  padding: 1em;
  height: 65px;
  width: 400px;
}

/*****************************STANDARD CSS SELECTORS START HERE********************************/

* {
  box-sizing: border-box;
  color: #FFF;
  margin: auto;
  text-decoration: none;
}

body {
  background: linear-gradient(rgba(152, 73, 181, 1), rgba(0,0,0,1));
  font-family: "Istok Web";
  line-height: 1.5;
}

header {
  background-attachment: fixed;
  background-size: 100% auto;
  position: relative;
  text-align: center;
}

img {
  padding: 1em .5em;
  display: block;
  margin: auto;
}

p {
  font-size: 1.5em;
  margin: auto;
  max-width: 40em;
  padding: 1em 1em;
  text-align: justify;
  text-transform: none;
}

p a {
  text-transform: none;
  color: #FFFFFF;
}

li h3 {
  font-size: 1.25em;
  padding: .25em;
}

body, p {
  color: #FFFFFF;
}

/*****************************@MEDIA QUERIES START HERE********************************/

@media screen and (max-width: 768px) {
  #about h1 {
    font-size: 2.75em;
  }

  .button {
    max-width: 75%;
  }
  
  .button a {
    font-size: 1em;
  }

  .logo {
    max-width: 75%;
  }

  .inner-container h2 {
    font-size: 2em;
  }

  .navbar ul li a {
    min-width: 5.5em;
  }

  .text-box {
    max-width: 75%;
  }

  img {
    width: 100%;
  }
}